/.claude
/.vscode
/claude-config-example.json
/test_mcp_client.go
*.exe
*.exe~
CLAUDE.md
hwp-mcp/
*.pdf
*.py
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
test-client/
test-new-features/
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
todo.md